[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# ```JOINS```.

https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-join.html

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("JOINS").getOrCreate()
ct = spark.sparkContext

In [ ]:
spark.createDataFrame(pd.DataFrame({'animal':['zorro', 
                     'conejo', 
                     'liebre', 
                     'halcón'],
          'poblacion':[12,
                      436,
                      315,
                      7]})).createOrReplaceTempView('zona_1')

In [ ]:
spark.sql('''SELECT * 
             FROM zona_1''').toPandas()

In [ ]:
spark.createDataFrame(pd.DataFrame({'animal':['conejo',
                                  'jabalí',
                                  'venado',
                                  'jaguar',
                                  'águila',
                                  'halcón'],
                        'poblacion':[2015,
                                     450,
                                     56,
                                     2,
                                     30,
                                     25]})).createOrReplaceTempView('zona_2')

In [ ]:
spark.sql('''SELECT * 
             FROM zona_2''').toPandas()

### ```JOIN```

In [ ]:
spark.sql('''SELECT a.animal, a.poblacion 
               FROM zona_1 AS a
               JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

### ```INNER JOIN```

In [ ]:
spark.sql('''SELECT a.animal, a.poblacion 
               FROM zona_1 AS a
               INNER JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

In [ ]:
spark.sql('''SELECT b.animal, b.poblacion 
               FROM zona_1 AS a
               INNER JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

### ```LEFT JOIN```

In [ ]:
spark.sql('''SELECT a.animal, a.poblacion 
               FROM zona_1 AS a
               LEFT JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

In [ ]:
spark.sql('''SELECT b.animal, b.poblacion 
               FROM zona_1 AS a
               LEFT JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

### ```RIGHT JOIN```

In [ ]:
spark.sql('''SELECT a.animal, a.poblacion 
               FROM zona_1 AS a
               RIGHT JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

In [ ]:
spark.sql('''SELECT b.animal, b.poblacion 
               FROM zona_1 AS a
               RIGHT JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

### ```FULL OUTER JOIN```

In [ ]:
spark.sql('''SELECT a.animal, a.poblacion 
               FROM zona_1 AS a
               FULL OUTER JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

In [ ]:
spark.sql('''SELECT b.animal, b.poblacion 
               FROM zona_1 AS a
               FULL OUTER JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

### ```LEFT SEMI JOIN```

In [ ]:
spark.sql('''SELECT a.animal, a.poblacion 
               FROM zona_1 AS a
               LEFT SEMI JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

In [ ]:
spark.sql('''SELECT b.animal, b.poblacion 
               FROM zona_1 AS a
               LEFT SEMI JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

### ```LEFT ANTI JOIN```

In [ ]:
spark.sql('''SELECT a.animal, a.poblacion 
               FROM zona_1 AS a
               LEFT ANTI JOIN zona_2 AS b
                 ON a.animal = b.animal''').toPandas()

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2023.</p>