[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# Bases de datos y tablas permanentes.

https://spark.apache.org/docs/3.1.2/sql-ref-syntax-ddl.html

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DDL").getOrCreate()
ct = spark.sparkContext

In [ ]:
(spark.read.parquet('data/data_covid.parquet')
     .createOrReplaceTempView("COVID_NACIONAL"))

## Estructuras.

* Bases de datos. Son estructuras que contienen tablas. La base de datos por defecto de *Spark* es ```default```.
* Tablas. Son estructuras basadas en *dataframes*. Pueden ser´
    * Temporales.
    * Permanentes.
* Vistas.

## *DDL*.

* ```CREATE```
* ```ALTER```
* ```DROP```
* ```DESCRIBE```
* ```SHOW```
* ```USE```

In [ ]:
spark.sql('''SHOW DATABASES;
            ''').toPandas()

https://spark.apache.org/docs/3.0.0-preview/sql-ref-syntax-ddl-create-database.html

In [ ]:
spark.sql('''DESCRIBE DATABASE default;
            ''').toPandas()

In [ ]:
spark.sql('''SHOW TABLES;
            ''').toPandas()

In [ ]:
spark.sql('''SHOW TABLES;
            ''').toPandas()

In [ ]:
spark.sql('''SHOW TABLES FROM default;
            ''').toPandas()

In [ ]:
spark.sql('''CREATE DATABASE nueva_db;
            ''')

In [ ]:
spark.sql('''USE DATABASE nueva_db;
            ''')

In [ ]:
spark.sql('''SHOW TABLES FROM nueva_db;
            ''').toPandas()

In [ ]:
spark.sql('''CREATE TABLE covid USING parquet
             AS SELECT * FROM COVID_NACIONAL;
    ''')

In [ ]:
spark.sql('''SHOW TABLES FROM nueva_db;
            ''').toPandas()

In [ ]:
spark.sql('''CREATE TABLE covid_vacio LIKE covid USING CSV;''')

In [ ]:
spark.sql('''SELECT * FROM covid_vacio;''').toPandas()

In [ ]:
spark.sql('''SHOW TABLES FROM nueva_db;''').toPandas()

In [ ]:
spark.sql('''USE default
            ''')

In [ ]:
spark.sql('''SELECT * FROM nueva_db.covid
            ''').toPandas()

In [ ]:
spark.sql('''CREATE TABLE nueva_db.persona (nombre STRING, edad INT) USING CSV;''');

In [ ]:
spark.sql('''SHOW TABLES FROM nueva_db;''').toPandas()

In [ ]:
spark.sql('''INSERT INTO nueva_db.persona VALUES
    ('Zen Hui', 25),
    ('Anil B', 18),
    ('Shone S', 16),
    ('Mike A', 25),
    ('John A', 18),
    ('Jack N', 16);''')

In [ ]:
spark.sql('''SELECT * FROM nueva_db.persona;''').toPandas()

In [ ]:
spark.sql('''DESCRIBE TABLE nueva_db.persona;''').toPandas()

In [ ]:
spark.sql('''DROP TABLE nueva_db.persona;''')

In [ ]:
spark.sql('''SHOW TABLES FROM nueva_db;''').toPandas()

In [ ]:
spark.sql('''DROP DATABASE nueva_db;''')

In [ ]:
spark.sql('''DROP DATABASE nueva_db CASCADE;''')

In [ ]:
spark.sql('''SHOW DATABASES;''').toPandas()

In [ ]:
!rm -rf spark-warehouse

In [ ]:
spark.stop()

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2023.</p>