[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# Inserción de datos (*DML*).

https://spark.apache.org/docs/3.1.2/sql-ref-syntax-dml.html

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DML").getOrCreate()
ct = spark.sparkContext

In [ ]:
spark.sql('''CREATE TABLE alumnos 
                 (nombre STRING, 
                  apellido STRING, 
                  activo BOOLEAN, 
                  id INT)
             USING parquet;''')

In [ ]:
spark.sql('''SELECT * FROM alumnos;''').toPandas()

## ```INSERT INTO```

```
INSERT INTO <tabla> VALUES (<tupla 1>), (<tupla 2>), ... (<tupla n>)
```

https://spark.apache.org/docs/3.1.2/sql-ref-syntax-dml-insert-into.html

In [ ]:
spark.sql('''INSERT INTO alumnos VALUES
             ('Juan', 'Pérez', True, 1001);''')

In [ ]:
spark.sql('''SELECT * FROM alumnos;''').toPandas()

In [ ]:
spark.sql('''INSERT INTO alumnos VALUES
             ('María', 'López', True, 1002),
             ('Jorge', 'Sánchez', False, 1003),
             ('José', 'Enriquez', True, 1004),
             ('Alma', 'Paz', True, 1005),
             ('Rosa', 'Luna', True, 1006);
             ''')
spark.sql('''SELECT * FROM alumnos
             ORDER BY id;''').toPandas()

## ```INSERT OVERWRITE```

https://spark.apache.org/docs/3.1.2/sql-ref-syntax-dml-insert-overwrite-table.html

In [ ]:
spark.sql('''INSERT OVERWRITE alumnos VALUES
             ('Arturo', 'Ruiz', True, 1007),
             ('Rosario', 'Guzman', True, 1008);
             ''')
spark.sql('''SELECT * FROM alumnos;''').toPandas()

In [ ]:
spark.stop()

## Modificaciones con Delta.

https://delta.io/blog/2022-12-07-delete-rows-from-delta-lake-table/

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2023.</p>