[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# Tablas en línea.

https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-inline-table.html

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("with").getOrCreate()
ct = spark.sparkContext

In [ ]:
(spark.read.parquet('data/data_covid.parquet')
     .createOrReplaceTempView("COVID_NACIONAL"))

In [ ]:
spark.sql('''SELECT * 
             FROM VALUES 
                 ("uno", 1), 
                 ("dos", 2), 
                 ("tres", null) 
             AS data(a, b);
             ''').toPandas()

## ```WITH```

https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-cte.html

In [ ]:
spark.sql('''WITH nombre 
             AS (SELECT 
              'Juan',
              'Luis',
              'Maria')
            SELECT * FROM nombre;
             ''').toPandas()

In [ ]:
spark.sql('''WITH nombre(nombres) 
             AS (SELECT *
                 FROM VALUES
                     ('Juan'),
                     ('Luis'),
                     ('Maria'))
            SELECT * FROM nombre;
             ''').toPandas()

In [ ]:
spark.sql('''WITH Nacional(fecha, Nacional) 
             AS (SELECT Index, Nacional
                 FROM COVID_NACIONAL)
            SELECT mean(Nacional) AS media_nacional
            FROM Nacional
             ''').toPandas()

In [ ]:
spark.stop()

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2023.</p>