[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# Uso de ```UNION```.

https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-setops.html

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Intro a SELECT").getOrCreate()
ct = spark.sparkContext

In [ ]:
spark.read.parquet('data/data_covid.parquet').createOrReplaceTempView("COVID_NACIONAL")
spark.read.parquet('data/data_covid_2022.parquet').createOrReplaceTempView("COVID_NACIONAL_2022")

In [ ]:
spark.sql('''SELECT Index, Nacional FROM COVID_NACIONAL;''').toPandas()

In [ ]:
spark.sql('''SELECT Index, Nacional FROM COVID_NACIONAL_2022;''').toPandas()

In [ ]:
spark.sql('''SELECT Index, Nacional FROM COVID_NACIONAL
             UNION
             SELECT Index, Nacional FROM COVID_NACIONAL_2022;''').toPandas()

In [ ]:
795 + 365

In [ ]:
spark.sql('''WITH NACIONAL AS (SELECT Index, Nacional FROM COVID_NACIONAL
             UNION
             SELECT Index, Nacional FROM COVID_NACIONAL_2022)
             SELECT *
             FROM NACIONAL
             WHERE Index BETWEEN "2022-01-01" AND "2022-12-31";
             ''').toPandas()

In [ ]:
spark.sql('''WITH NACIONAL AS (SELECT Index, Nacional FROM COVID_NACIONAL
             UNION 
             SELECT Index, Nacional FROM COVID_NACIONAL_2022)
             SELECT *
             FROM NACIONAL
             WHERE Index BETWEEN "2022-01-01" AND "2022-12-31";
             ''').toPandas()

In [ ]:
spark.sql('''WITH NACIONAL AS (SELECT Index, Nacional FROM COVID_NACIONAL
             UNION 
             SELECT Index, Nacional FROM COVID_NACIONAL_2022)
             SELECT *
             FROM NACIONAL
             WHERE Index = "2022-03-15";
             ''').toPandas()

In [42]:
spark.sql('''WITH NACIONAL AS (
                 SELECT Index, Nacional 
                 FROM COVID_NACIONAL
                 WHERE Index < "2022-01-01"
             UNION 
                 SELECT Index, Nacional 
                 FROM COVID_NACIONAL_2022)
             SELECT *
             FROM NACIONAL
             WHERE Index BETWEEN "2022-01-01" AND "2022-12-31";
             ''').toPandas()

/opt/conda/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

         Index  Nacional
0   2022-01-08     22674
1   2022-06-09      6349
2   2022-09-03       963
3   2022-10-16       162
4   2022-01-09     19061
..         ...       ...
360 2022-06-15     10079
361 2022-12-16      4375
362 2022-03-18      1328
363 2022-09-15       730
364 2022-11-01       476

[365 rows x 2 columns]

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2023.</p>