[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# Inserción de datos (*DML*).

https://spark.apache.org/docs/3.1.2/sql-ref-syntax-dml.html

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DML").getOrCreate()
ct = spark.sparkContext
%load_ext sparksql_magic

In [ ]:
!rm -rf spark-warehouse/alumnos

In [ ]:
%%sparksql
CREATE TABLE alumnos( 
    nombre STRING, 
    apellido STRING, 
    activo BOOLEAN, 
    id INT)
USING parquet;

In [ ]:
%%sparksql
SELECT * 
FROM alumnos;

## ```INSERT INTO```

```
INSERT INTO <tabla> VALUES (<tupla 1>), (<tupla 2>), ... (<tupla n>)
```

https://spark.apache.org/docs/3.1.2/sql-ref-syntax-dml-insert-into.html

In [ ]:
%%sparksql

INSERT INTO alumnos VALUES 
    ('Juan', null, True, 1001);

In [ ]:
%%sparksql
SELECT * FROM alumnos;

In [ ]:
%%sparksql
INSERT INTO alumnos VALUES
    ('María', 'López', True, 1002),
    ('Jorge', 'Sánchez', False, 1003),
    ('José', 'Enriquez', True, 1004),
    ('Alma', 'Paz', True, 1005),
    ('Rosa', 'Luna', True, 1006);

In [ ]:
%%sparksql
SELECT * 
FROM alumnos
ORDER BY id;

In [ ]:
%%sparksql
INSERT INTO alumnos VALUES
    ('María', 'López', True, 1002, null)

In [ ]:
%%sparksql
INSERT INTO alumnos VALUES
    ('María', 'López', True, 'hola')

## ```INSERT OVERWRITE```

https://spark.apache.org/docs/3.1.2/sql-ref-syntax-dml-insert-overwrite-table.html

In [ ]:
%%sparksql
INSERT OVERWRITE alumnos VALUES
    ('Arturo', 'Ruiz', True, 1007),
    ('Rosario', 'Guzman', True, 1008);

In [ ]:
%%sparksql
SELECT * 
FROM alumnos;

In [ ]:
%%sparksql
UPDATE alumnos 
SET apellido= 80 
WHERE id = '1008';

In [ ]:
spark.stop()

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2023.</p>