[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# Delta.

In [ ]:
import pyspark
from delta import *

builder = pyspark.sql.SparkSession.builder.appName("MyApp") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [ ]:
%load_ext sparksql_magic

In [ ]:
%%sparksql --cache
CREATE TABLE IF NOT EXISTS personas
    (id INT, 
     nombre CHAR(20), 
     activo BOOLEAN) 
USING delta;

In [ ]:
%%sparksql --cache
INSERT INTO personas 
    VALUES (1001, 'Luis', 'true');

In [ ]:
%%sparksql --cache
SELECT * FROM personas;

In [ ]:
%%sparksql --cache
UPDATE personas
SET nombre='JUAN'
WHERE id == 1001;

In [ ]:
%%sparksql --cache
SELECT * FROM personas;

In [ ]:
%%sparksql --cache
SELECT * FROM personas VERSION AS OF 1;

In [ ]:
%%sparksql --cache
SELECT * FROM personas VERSION AS OF 2;

In [ ]:
%%sparksql --cache

RESTORE personas VERSION AS OF 1;

In [ ]:
%%sparksql --cache
SELECT * FROM personas;

https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-setops.html

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2023.</p>